.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.photo {
  border-radius: 9999px;
  object-fit: cover;
}

.button {
  background: #30597a;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}
